@tailwind base;
@tailwind components;
@tailwind utilities;


.information{
  max-width: 1000px;
  margin: 0 auto;
}
/* body{
  display: flex;
  align-items: center;
} */
:root {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.blueline{
  width: 100%;
  height: 1vmin;
}
.navbar{
  font-family:josefin sans;
  font-weight: 700;
  letter-spacing: 1px;
}
.get-customized-headin,.footer-list-heading{
  font-family:josefin sans;
}
.submenu{
width: 150px ;
border-bottom:4px  red solid;
}

@media screen and (max-width:1024px) {
  .submenu{
    width: 100%;
    } 
}

.for-enquiry{
display: flex;
align-items: center;
justify-content: center;
width: 100%;
}
.for-enquiry div{
  display: flex;
  padding: 1vmin;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.for-enquiry ul{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 25%;
}
.for-enquiry ul li{
  list-style: none;
  padding: 0;
  margin: 0;
}

.for-enquiry div p span{
  color: black;
}
.maps-customized-list::before{
  content: '>';
}
.bars{
  display: none;
}
.responsive-navlist{
  display: none;
  flex-direction: column;
  align-items: flex-start;
}
.sidelist{
  display: none;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 auto;
  width: 100%;
}
.common-tools:nth-child(6) .divider-line{
  display: none;
}
.common-tools:nth-child(6) .tool-name{
  margin: 0;
}
.sidelist.active{
  display: flex;
}

.top-bar{
  width: 100%;
}


@media (max-width:1024px) {
  .bars{
    display: block;
  }
  .responsive-navlist{
    display: flex;
  }
  .nav-bar .nav-list .list{
    display: none;
  }
  .sidebar{
    display: none;
  }
  .for-enquiry{
    display: none;
  }
  .nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .main-content{
    width: 100%;
    margin: 0 1vmin 0 1vmin;
  }
  #root{
    width: 100%;
  }
  .main{
    display: block;
    margin: 0 1vmin;
  }
  .districts-table{
    overflow-x: auto;
  }
  .different-maps{
    overflow-x: scroll;
  }
}


@media (max-width:1024px) {
  .nav-bar{
    padding: 1vmin 3vmin;
  }
}